
  .details-container {
    font-family: roboto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .input {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    width: 100%;
    gap:.5rem;
    
  }
  
  input[type="text"] {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid grey;
  }

  input[type="email"] {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid grey;
  }
  
  input[type="date"] {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid grey;
  }
  

  
  .error-msg{
    background-color: white;
    width: max-content;
    padding: .5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    justify-content: space-around;
  }
  
  .cross{
    cursor: pointer;
  }


  .gender-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem;
  }

  .primary-button{
    padding: .5rem 3rem .5rem 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: black;
    color: white;
    cursor: pointer;
  }


  .primary-button:hover{
   background-color: rgb(50, 50, 48);
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-page{
    background-color: rgb(89, 86, 86);
    height: 100vh;
    color: white;
  }

  .gender-options{
    display: flex;
    cursor: pointer; 
   }

   .btn-container{
display: flex;
gap: .5rem;
   }
  

   .error-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
   }

   .btn-modal{
    background-color: black;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
   }

   .btn-modal:hover{
    background-color: rgb(50, 50, 48);
   }
 